In [23]:
import polars as pl
import pandera as pa

In [62]:
stops = pl.read_csv('stops.txt')
stops.head(3)

shape: (3, 10)
┌─────────┬───────────┬─────────────┬───────────┬───┬─────────┬──────────┬────────────┬────────────┐
│ stop_id ┆ stop_code ┆ stop_name   ┆ stop_desc ┆ … ┆ zone_id ┆ stop_url ┆ location_t ┆ platform_c │
│ ---     ┆ ---       ┆ ---         ┆ ---       ┆   ┆ ---     ┆ ---      ┆ ype        ┆ ode        │
│ str     ┆ str       ┆ str         ┆ str       ┆   ┆ str     ┆ str      ┆ ---        ┆ ---        │
│         ┆           ┆             ┆           ┆   ┆         ┆          ┆ i64        ┆ str        │
╞═════════╪═══════════╪═════════════╪═══════════╪═══╪═════════╪══════════╪════════════╪════════════╡
│ 1_01    ┆ null      ┆ 米沢スキー  ┆ null      ┆ … ┆ 1_01    ┆ null     ┆ 0          ┆ null       │
│         ┆           ┆ 場前        ┆           ┆   ┆         ┆          ┆            ┆            │
│ 10_01   ┆ null      ┆ 工業団地入  ┆ null      ┆ … ┆ 10_01   ┆ null     ┆ 0          ┆ null       │
│         ┆           ┆ 口          ┆           ┆   ┆         ┆          ┆            ┆            │
│ 10_02   ┆ null      ┆ 工業団地入  ┆ null      ┆ … ┆ 10_02   ┆ null     ┆ 0          ┆ null       │
│         ┆           ┆ 口          ┆           ┆   ┆         ┆          ┆            ┆            │
└─────────┴───────────┴─────────────┴───────────┴───┴─────────┴──────────┴────────────┴────────────┘

In [63]:
stops = stops.with_columns(
    pl.lit(None).cast(str).alias('parent_station')
).select(
    pl.col('stop_id').cast(str),
    pl.col('stop_name').cast(str),
    pl.col('parent_station'),
    pl.col('platform_code').cast(str),
    pl.col('stop_lat').cast(pl.Float64),
    pl.col('stop_lon').cast(pl.Float64),
)
stops.write_parquet('stops.parquet')

In [26]:
stop_times = pl.read_csv('stop_times.txt')
stop_times.head(3)

shape: (3, 9)
┌────────────┬───────────┬───────────┬─────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ trip_id    ┆ arrival_t ┆ departure ┆ stop_id ┆ … ┆ stop_head ┆ pickup_ty ┆ drop_off_ ┆ shape_dis │
│ ---        ┆ ime       ┆ _time     ┆ ---     ┆   ┆ sign      ┆ pe        ┆ type      ┆ t_travele │
│ str        ┆ ---       ┆ ---       ┆ str     ┆   ┆ ---       ┆ ---       ┆ ---       ┆ d         │
│            ┆ str       ┆ str       ┆         ┆   ┆ str       ┆ i64       ┆ i64       ┆ ---       │
│            ┆           ┆           ┆         ┆   ┆           ┆           ┆           ┆ i64       │
╞════════════╪═══════════╪═══════════╪═════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1全日夏期_ ┆ 07:00:00  ┆ 07:00:00  ┆ 26_01   ┆ … ┆ 米沢駅前  ┆ 0         ┆ 1         ┆ 0         │
│ 07時00分_  ┆           ┆           ┆         ┆   ┆           ┆           ┆           ┆           │
│ 系統4181   ┆           ┆           ┆         ┆   ┆           ┆           ┆           ┆           │
│ 1全日夏期_ ┆ 07:01:00  ┆ 07:01:00  ┆ 38_01   ┆ … ┆ 米沢駅前  ┆ 0         ┆ 0         ┆ 0         │
│ 07時00分_  ┆           ┆           ┆         ┆   ┆           ┆           ┆           ┆           │
│ 系統4181   ┆           ┆           ┆         ┆   ┆           ┆           ┆           ┆           │
│ 1全日夏期_ ┆ 07:02:00  ┆ 07:02:00  ┆ 39_01   ┆ … ┆ 米沢駅前  ┆ 0         ┆ 0         ┆ 0         │
│ 07時00分_  ┆           ┆           ┆         ┆   ┆           ┆           ┆           ┆           │
│ 系統4181   ┆           ┆           ┆         ┆   ┆           ┆           ┆           ┆           │
└────────────┴───────────┴───────────┴─────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [27]:
stop_times = stop_times.select(
    pl.col('trip_id').cast(str),
    pl.col('stop_sequence').cast(pl.Int64),
    pl.col('stop_id').cast(str),
    pl.col('arrival_time').str.replace_all(':','').cast(pl.Int32),
    pl.col('departure_time').str.replace_all(':','').cast(pl.Int32),
    pl.col('pickup_type').cast(pl.Int32),
    pl.col('drop_off_type').cast(pl.Int32),
)
stop_times.write_parquet('stop_times.parquet')

In [28]:
trips = pl.read_csv('trips.txt')
trips.head(3)

shape: (3, 9)
┌──────────┬────────────┬────────────┬───────────┬───┬──────────┬───────────┬──────────┬───────────┐
│ route_id ┆ service_id ┆ trip_id    ┆ trip_head ┆ … ┆ block_id ┆ trip_shor ┆ shape_id ┆ jp_trip_d │
│ ---      ┆ ---        ┆ ---        ┆ sign      ┆   ┆ ---      ┆ t_name    ┆ ---      ┆ esc       │
│ str      ┆ str        ┆ str        ┆ ---       ┆   ┆ str      ┆ ---       ┆ str      ┆ ---       │
│          ┆            ┆            ┆ str       ┆   ┆          ┆ str       ┆          ┆ str       │
╞══════════╪════════════╪════════════╪═══════════╪═══╪══════════╪═══════════╪══════════╪═══════════╡
│ 10B      ┆ 平日土曜夏 ┆ 3平日土曜  ┆ 米沢市役  ┆ … ┆ null     ┆ null      ┆ null     ┆ null      │
│          ┆ 期         ┆ 夏期_07時2 ┆ 所前      ┆   ┆          ┆           ┆          ┆           │
│          ┆            ┆ 5分_系統41 ┆           ┆   ┆          ┆           ┆          ┆           │
│          ┆            ┆ 41         ┆           ┆   ┆          ┆           ┆          ┆           │
│ 10B      ┆ 平日土曜冬 ┆ 4平日土曜  ┆ 米沢市役  ┆ … ┆ null     ┆ null      ┆ null     ┆ null      │
│          ┆ 期         ┆ 冬期_07時0 ┆ 所前      ┆   ┆          ┆           ┆          ┆           │
│          ┆            ┆ 5分_系統41 ┆           ┆   ┆          ┆           ┆          ┆           │
│          ┆            ┆ 41         ┆           ┆   ┆          ┆           ┆          ┆           │
│ 10B      ┆ 平日土曜   ┆ 5平日土曜_ ┆ 米沢市役  ┆ … ┆ null     ┆ null      ┆ null     ┆ null      │
│          ┆            ┆ 09時00分_  ┆ 所前      ┆   ┆          ┆           ┆          ┆           │
│          ┆            ┆ 系統4141   ┆           ┆   ┆          ┆           ┆          ┆           │
└──────────┴────────────┴────────────┴───────────┴───┴──────────┴───────────┴──────────┴───────────┘

In [57]:
calendar = pl.read_csv('calendar_dates.txt')
calendar.head(3)

shape: (3, 3)
┌────────────┬──────────┬────────────────┐
│ service_id ┆ date     ┆ exception_type │
│ ---        ┆ ---      ┆ ---            │
│ str        ┆ i64      ┆ i64            │
╞════════════╪══════════╪════════════════╡
│ 全日冬期   ┆ 20220401 ┆ 2              │
│ 全日冬期   ┆ 20220402 ┆ 2              │
│ 全日冬期   ┆ 20220403 ┆ 2              │
└────────────┴──────────┴────────────────┘

In [60]:
calendar = calendar.groupby(
    "date", maintain_order=True
).agg(
    [pl.col('service_id')]
).select(
    pl.col('date').cast(str).str.to_date('%Y%m%d').alias('calendar_date'),
    pl.col('service_id').alias('service_ids'),
)
calendar.write_parquet('calendar_dates.parquet')

In [61]:
calendar

shape: (244, 2)
┌───────────────┬──────────────────────────────┐
│ calendar_date ┆ service_ids                  │
│ ---           ┆ ---                          │
│ date          ┆ list[str]                    │
╞═══════════════╪══════════════════════════════╡
│ 2022-04-01    ┆ ["全日冬期", "平日土曜冬期"] │
│ 2022-04-02    ┆ ["全日冬期", "平日土曜冬期"] │
│ 2022-04-03    ┆ ["全日冬期", "平日土曜冬期"] │
│ 2022-04-04    ┆ ["全日冬期", "平日土曜冬期"] │
│ …             ┆ …                            │
│ 2022-11-27    ┆ ["全日冬期", "平日土曜冬期"] │
│ 2022-11-28    ┆ ["全日冬期", "平日土曜冬期"] │
│ 2022-11-29    ┆ ["全日冬期", "平日土曜冬期"] │
│ 2022-11-30    ┆ ["全日冬期", "平日土曜冬期"] │
└───────────────┴──────────────────────────────┘

In [37]:
transfers = pl.read_csv('transfers.txt')
transfers.head(3)

shape: (0, 4)
┌──────────────┬────────────┬───────────────┬───────────────────┐
│ from_stop_id ┆ to_stop_id ┆ transfer_type ┆ min_transfer_time │
│ ---          ┆ ---        ┆ ---           ┆ ---               │
│ str          ┆ str        ┆ str           ┆ str               │
╞══════════════╪════════════╪═══════════════╪═══════════════════╡
└──────────────┴────────────┴───────────────┴───────────────────┘

In [38]:
transfers = transfers.select(
    pl.col('from_stop_id').cast(str),
    pl.col('to_stop_id').cast(str),
    pl.col('transfer_type').cast(pl.Int32),
    pl.col('min_transfer_time').cast(pl.Int32)
)
transfers.write_parquet('transfers.parquet')